<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rubber.at.tennis.invite.dao.mapper.ActivityInviteInfoMapper">


    <resultMap id="baseMap" type="com.rubber.at.tennis.invite.dao.entity.ActivityInviteInfoEntity">
        <result column="Fid" property="id" jdbcType="INTEGER"/>
        <result column="Finvite_code" property="inviteCode" jdbcType="VARCHAR"/>
        <result column="Fuid" property="uid" jdbcType="INTEGER"/>
        <result column="Finvite_title" property="inviteTitle" jdbcType="VARCHAR"/>
        <result column="Finvite_home_img" property="inviteHomeImg" jdbcType="VARCHAR"/>
        <result column="Finvite_img" property="inviteImg" jdbcType="VARCHAR"/>
        <result column="Finvite_number" property="inviteNumber" jdbcType="INTEGER"/>
        <result column="Fjoin_number" property="joinNumber" jdbcType="INTEGER"/>
        <result column="Fjoin_deadline" property="joinDeadline" jdbcType="VARCHAR"/>
        <result column="Fstart_time" property="startTime" jdbcType="VARCHAR"/>
        <result column="Fend_time" property="endTime" jdbcType="VARCHAR"/>
        <result column="Fcourt_code" property="courtCode" jdbcType="VARCHAR"/>
        <result column="Fcourt_province" property="courtProvince" jdbcType="VARCHAR"/>
        <result column="Fcourt_city" property="courtCity" jdbcType="VARCHAR"/>
        <result column="Fcourt_district" property="courtDistrict" jdbcType="VARCHAR"/>
        <result column="Fcourt_address" property="courtAddress" jdbcType="VARCHAR"/>
        <result column="Fcourt_latitude" property="courtLatitude" jdbcType="VARCHAR"/>
        <result column="Fcourt_longitude" property="courtLongitude" jdbcType="VARCHAR"/>
        <result column="Fremark" property="remark" jdbcType="VARCHAR"/>
        <result column="Fversion" property="version" jdbcType="INTEGER"/>
        <result column="Fstatus" property="status" jdbcType="INTEGER"/>
        <result column="Fjoin_status" property="joinStatus" jdbcType="INTEGER"/>
        <result column="Fcreate_time" property="createTime" jdbcType="VARCHAR"/>
        <result column="Fupdate_time" property="updateTime" jdbcType="VARCHAR"/>
    </resultMap>


    <select id="queryPageByJoin" resultMap="baseMap">
        select a.*
        from t_activity_invite_info as a
        left join  t_invite_join_user as b on a.Finvite_code = b.Finvite_code
        where  b.Fjoin_uid = #{condition.joinUid} and b.Fstatus = 20
        <if test="condition.searchValue != null">
            and  a.Finvite_title like concat('%',#{condition.searchValue},'%')
        </if>

        <if test="condition.engTimeLine != null">
            and (a.Fend_time is null or a.Fend_time > #{condition.engTimeLine})
        </if>

        <if test="condition.createTimeLine != null">
            and  a.Fcreate_time > #{condition.createTimeLine}
        </if>
        GROUP BY a.Finvite_code

    </select>



</mapper>
